<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="30000">
        <setting label="30001" type="text" id="username" default=""/>
        <setting label="30002" type="text" id="password" default=""/>
        <setting type="sep"/>
        <setting id="debug" type="bool" label="30004" default="false"/>
    </category>
</settings>